@import 'color-schemes.css';
@import 'astro-code.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply overflow-y-scroll scroll-smooth bg-accent-bg underline-offset-4 selection:bg-accent/75 selection:text-white selection:dark:text-black;

    #page-wrapper {
      @apply mx-auto flex min-h-[100svh] w-full max-w-[90%] flex-col justify-between md:max-w-3xl;
    }
  }

  ::-webkit-scrollbar {
    @apply h-2 w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-accent/75;
  }

  ::-webkit-scrollbar-track {
    @apply bg-accent/25;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-accent/100;
  }
}

figure {
  display: table; /* Ensures the figure acts like a table for layout */
  width: auto; /* Allows the figure to adjust to the image width */
  margin: 0 auto; /* Centers the figure on the page */
}

figcaption {
  display: table-caption; /* Makes the caption part of the table layout */
  caption-side: bottom; /* Places the caption below the image */
  text-align: center; /* Centers the caption text */
}

@layer utilities {
  .clickable {
    @apply cursor-pointer opacity-75 transition duration-500 ease-in-out hover:text-accent hover:opacity-100;
  }

  .animate-links {
    a {
      background-image: linear-gradient(
        transparent calc(85% - 5px),
        rgba(var(--accent), 0.35) 5px
      );
      background-size: 0;
      background-repeat: no-repeat;
      display: inline;
      transition: 0.5s cubic-bezier(0.65, -0.05, 0.25, 1);

      &:hover {
        background-size: 100%;
      }
    }
  }
}
